#account-form, #reset-pass-form {
  width: 70%;
  margin: auto;
  margin-top: 1%;
  border-radius: 15px;
}

#reset-pass-form {
  width: 50%;
}

#reset-pass-form > * {
  padding: 1% 0px;
}

#account-form {
  background-color: #d9d9d8;
}

.header-account-form, #forms {
  display: flex;
}

.header-account-form > button {
  width: 50%;
  text-align: center;
  font-family: "PlayfairDisplay";
  font-size: 30px;
  color: #2b2c30;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.vert-line {
  border: 1px solid black;
}

#forms {
  padding-top: 1%;
  padding-bottom: 1%;
}

#account-form {
  margin-left: 1%;
  margin: auto;
  /* width: 60%; */
}

#reset-pass-block {
  width: 100%;
  margin: auto;
  margin-top: 1%;
  border-radius: 15px;
}

#account-form > label, #account-form > input, #reset-pass-block > label, #reset-pass-block > input, .asterik {
  font-family: "PublicSans";
  font-size: 24px;
  color: #2b2c30;
}

#account-form > input, #reset-pass-block > input {
  width: 100%;
  background-color: #dcc3ac;
  border: 2px solid #efeee7;
}

.asterik {
  color: red;
}

#reset-pass-form > * {
  margin: auto;
}

#reset-pass-title {
  text-align: center;
  font-family: "PlayfairDisplay";
  font-size: 30px;
}

#reset-pass-info {
  text-align: center;
  font-family: "PublicSans";
  font-size: 24px;
}