#product {
  width: 90%;
  margin: auto;
  background-color: #d9d9d8;
  border-radius: 40px;
  margin-top: 1%;
}

#product-info {
  display: flex;
}

#product-info > * {
  margin: 1%;
}

#product-phone-img {
  width: 25%;
  padding-top: 1%;
  /* padding-bottom: 1%; */
  /* background-color: red; */
}

#product-phone-img > img {
  display: block;
  margin: auto;
  width: 100%;
}

#product-desc {
  width: 75%;
  /* background-color: blue; */
  padding: 1%;
}

#product-desc > * {
  margin-bottom: 2%;
}

p#title {
  font-family: 'PublicSans';
  font-size: 28px;
  letter-spacing: 3px;
}

p#item-number, .ratings, #price, .add-quantity, .minus-quantity, .qty-input {
  font-family: 'PublicSans';
  font-size: 24px;
  letter-spacing: 3px;
}

.star-rating {
  font-size: 1.5em;
  color: #fff24c;
  display: flex;
}

.fas, .far {
  margin-right: 0.2em;
}

.quantity-add-to-cart {
  display: flex;
}

.quantity-add-to-cart > * {
  padding: 15px;
}

.minus-quantity, .add-quantity, .qty-input {
  background-color: #efeee7;
  border: none;
}

.minus-quantity {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

input.qty-input {
  width: 60px;
  text-align: center;
}

.minus-quantity:hover, .add-quantity:hover, .add-to-cart-btn:hover {
  background-color: #c8c7c0;
}

.add-to-cart-btn {
  background-color: #efefef;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  border-left: 2px #d9d9d8 solid;
}

div#reviews-sec {
  width: 95%;
  margin: auto;
  padding-bottom: 1%;
}

.default-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.reviews-title {
  font-family: "PlayfairDisplay";
  font-size: 30px;
  letter-spacing: 3px;
}

hr.reviews {
  display: block;
  border-width: 1px;
}

div.review {
  padding-bottom: 1%;
}

.reviewer, .comment {
  font-family: "PublicSans";
  font-size: 20px;
  color: #2b2c30;
}