#account-information {
  display: flex;
}

#account-information > #left-tab {
  width: 30%;
}

#account-information > #account-info-tab {
  width: 70%;
  background-color: #d9d9d8;
  border-radius: 30px;
  padding: 1%;
}

#account-information > #account-table {
  width: 70%;
  padding: 1%;
}

.profile-options {
  padding: 2%;
  margin: auto;
  background-color: #d9d9d8;
  font-size: 24px;
  font-family: 'PlayfairDisplay';
  border-radius: 30px;
  border: none;
  letter-spacing: 5px;
}

#p-heading {
  font-size: 30px;
  font-family: 'PlayfairDisplay';
}

#personal-info > label, #personal-info > input, .asterik {
  font-family: "PublicSans";
  font-size: 24px;
  color: #2b2c30;
}

#personal-info > input {
  background-color: #dcc3ac;
  border: 2px solid #efeee7;
}

.asterik {
  color: red;
}

table {
  border: 3px solid black;
  background-color: #d9d9d8;
  width: 100%;
  border-collapse: collapse; /* This property ensures that the borders are collapsed into a single border */
}

th, td {
  border: 3px solid black; /* Add border to both th and td elements */
  text-align: center;
  padding: 8px; /* Add padding for better visual appearance */
}

.title-col {
  width: 35%;
}