.filter-small {
	display: none;
}

.components {
	width: 90%;
	margin: auto;
	/* background-color: red; */
	display: flex;
}

.component-one {
	width: 20%;
}

@media only screen and (max-width: 1250px) {
	.component-one {
		display: none;
	}

	.component-two {
		margin: auto;
	}

	.filter-small {
		display: flex;
	}

	.filter-small > * {
		margin: auto;
	}

	.filter-by-brand {
		padding: 5%;
	}
}

.component-one > * {
	margin: auto;
	padding: 5%;
}

.component-two {
	width: 80%;
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
}

.component-two > * {
	/* margin: auto; */
	text-align: center;
}

.filter-by-brand, .filter-by-price, .filter-by-condition {
	margin: 3%;
	background-color: #d9d9d8;
	border-radius: 20px;
}

#brand-filter-title, #price-filter-title, #condition-filter-title {
	font-family: 'PlayfairDisplay';
	font-size: 22px;
	color: #2b2c30;
}

.brandBar {
	display: flex;
}

.brands, .conditions {
	margin: 1% 0;
}

.brand-option, .condition-option {
	display: flex;
}

.brand-input, .condition-input {
	margin-right: 1%;
}

.brand-name, .condition-name {
	font-family: 'PublicSans';
	font-size: 15px;
	color:#2b2c30;
}

.filter-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price-input {
	width: 100%;
	flex-grow: 1;
	padding: 0 2%;
	margin-right: 2%;
	border-radius: 5px;
	border: 1px #2b2c30 solid;
	font-size: 15px;
}

#to, #go {
	margin: auto;
	font-family: 'PublicSans';
}

#to {
	font-size: 15px;
	margin-right: 2%;
}

#go {
	font-size: 11px;
}

.component-two-header {
	display: flex;
	justify-content: flex-end;  /* Pushes .sort-by to the right */
	margin: 1%;
}

.sort-by-component {
	background-color: #d9d9d8;
	border-radius: 20px;
	padding: 1%;
}

.sort-by-text {
	font-family: 'PublicfairDisplay';
	font-size: 22px;
}

select {
	background-color: #d9d9d8;
	border: 1px #2b2c30 solid;
	border-radius: 5px;
}